*{
    box-sizing: border-box;
}

body{
    background-color: brown;
    font-family:Arial, Helvetica, sans-serif;
    color: cornflowerblue;
    box-sizing: border-box;

    
}
   


.padre{
    display: flex;
    flex-wrap: wrap;
/* Alineado de manera horizontal*/
    justify-content: space-between;
    height: 100vh;
/*permite alinear verticalmente*/
    align-items: center;

}

.hijo{
    width: 25%;
    height: 100px;
    border: solid 1px greenyellow;
    background-color: antiquewhite;
}