/* Selectores */


/* Selectores de elemento */
h1 {
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}


#div_temas{
    display: none;
}

.product_cell{
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    padding: 10px;
    background-color: beige;
}

.product_cell:hover{
    border: 2px dashed rgb(181, 28, 28);
    box-shadow: 0px 0px 10px #000;
}

.product_cell:hover > img{
    opacity: 0.5;
    height: 300px;
}

.laptop > h2{
    color: blue;
}

.laptop > h3{
    color: lightcoral;
    text-align: right;
    padding-right: 20px;
    text-shadow: 2px 2px 5px rgb(143, 243, 225)
}


.celular > h2{
    color: rgb(231, 120, 56);
}

.celular > h3{
    color: rgb(102, 149, 97);
    text-align: right;
    padding-right: 20px;
    text-shadow: 2px 2px 5px rgb(143, 243, 225)
}

.airpods > h2{
    color: rgb(200, 32, 222);
}

.airpods > h3{
    color: rgb(187, 224, 93);
    text-align: right;
    padding-right: 20px;
    text-shadow: 2px 2px 5px rgb(143, 243, 225)
}

.div_form{
    width: 400px;
    margin: 20px auto;
}

/*
.div_form > form > input{
height: 40px;
border: 1px solid coral;
border-radius: 10px;
width: 70%;
font-size: 20px;
padding-left: 15px;
outline: none;
} */

body {
    font-family: "Poppins", sans-serif, Helvetica;
  }
  
.div_form > form > input:focus{
border: 2px solid rgb(143, 48, 119);
height: 50px;
outline: none;
}

.div_form > form > button{
    height: 40px;
    border: 1px solid coral;
}
.price::before {
    content: "$" ";
    }

    .price::after {
        content: ".00";
        }